@charset "UTF-8";

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-heart:before {
  content: "\e902";
}

._icon-arrow:before {
  content: "\e900";
}

._icon-location:before {
  content: "\e901";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 375px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Rubik", sans-serif;
  font-size: 0.6875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Rubik", sans-serif;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться к
всех классов, содержащих *__container
К примеру header__container, main__container и т.п.
Сниппет (HTML): cnt
*/

[class*=__container] {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
.menu {

	// .menu__body

	&__body {
			// model block
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			overflow: auto;
			padding: rem(100) rem(15) rem(50) rem(15);
			z-index: 4;

			// style
			background-color: rgba($color: gray, $alpha: 0.8);

			// animation
			transition: left 0.3s ease 0s;

			.menu-open &{
				left: 0;
				&::before{
					left: 0;
				}
			}
	}
}
*/

.no-webp .finder{
  background: url("../img/finder/finder-bg.png") center/cover no-repeat; }

.finder {
  padding: 5rem 3.75rem 7.5rem 3.75rem;
  position: relative;
  z-index: 10;
  text-align: center;
}

.finder__title {
  color: white;
  font-weight: 500;
  font-size: 3rem;
}

.finder__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.finder__search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.finder__input {
  width: 100%;
  max-width: 56.25rem;
  padding: 1.5rem 2rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 700;
  color: #2b2b2b;
  border-radius: 0.625rem 0 0 0.625rem;
}

.finder__btn {
  padding: 0 1.5rem;
  position: relative;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 0 10px 10px 0;
  font-size: 1.875rem;
}

.finder__info {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border-radius: 1.25rem;
  -webkit-box-shadow: 0px 4px 20px 8px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 4px 20px 8px rgba(34, 60, 80, 0.2);
}

.info__block {
  position: relative;
  min-width: 12.5rem;
  min-height: 9.375rem;
  padding: 0.625rem 1.25rem 0.625rem 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.125rem;
  font-weight: 700;
}

.info__block:not(:last-child)::after {
  content: "";
  right: 0.625rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  width: 0.1875rem;
  height: 60%;
  background-color: #969696;
  border-radius: 0.625rem;
}

.info__title {
  color: #969696;
}

.info__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  min-height: 25rem;
  z-index: 0;
}

.footer {
  padding-bottom: 0.125rem;
}

.footer__attribution {
  text-align: center;
}

.footer__attribution a::before {
  display: inline;
  padding-right: 0.125rem;
  color: red;
}

@media (any-hover: hover) {
  .finder__btn:hover {
    background-color: #4d4d4d;
  }

  .footer__attribution a:hover {
    text-decoration: underline;
  }

  .footer__attribution a:hover::before {
    text-decoration: underline;
  }
}

.webp .finder{ background: url(../img/finder/finder-bg.webp) center/cover no-repeat; }